@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

html, body {
    padding: 0;
    margin: 0;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Rubik', 'Epilogue', 'Segoe UI', 'Roboto', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px 50px;
}

.header_container {
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_bar {
    background-color: #30A9DE;
    height: 50px;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_divider {
    width: 375px;
    height: 5px;
    /* Create gradient transparent edges on both sides */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(239,220,5,1) 20%,rgba(239,220,5,1) 78%,rgba(239,220,5,0.91) 80%,rgba(255,255,255,0) 100%);
}

.utils_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E53A40;
    width: 200px;
    margin: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.utils_button {
    padding: 8px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.utils_button:hover {
    background-color: rgba(0, 214, 0, 0.5);
}

.button_icon {
    font-size: 20px;
}

#capture_image {
    max-width: 50%;
    object-fit: contain;
    cursor: zoom-in;
    box-shadow: var(--box-shadow);
    border: 1px solid #090707;
    margin-top: 50px;
    transition: background-color 1s ease-in-out;
}

#capture_image.zoomed_in {
    width: 80%;
    max-width: 80%;
    cursor: zoom-out;
}
